fair-esm
esm
biopython
transformers
torch
lang
moleculekit
rdkit
scikit-learn
backoff
langchain_community 
langchain_ollama 
langchain_openai 
langchain_core 
langchain 
langchain_experimental
mdtraj
aioconsole
deap
openmmpi 
pdbfixer
nglview

